*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: whitesmoke;
    background: url(./imgs/Waiau.png);
}

.container{
    height: 99vh;
    width: 750px;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

.logo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 1vh;
    color: black
}

.logo-title{
    height: 5vh;
    width: 5vw;
}

.img-logo{
    height: 5vh;
    width: 5vw;
}

.img{
    position: relative;
}

.Content-container{
    position: absolute;
}

.Content-title{
    color: black;
}

.logo-title{
    font-size: large;
    color: black
}